body {
  background: linear-gradient(to right, #e8cbc0, #636fa4);
  text-align: center;
}

.notesWrapper {
  font-family: Roboto;
  height: 70vh;
  background-color: azure;
  width: 50%;
  display: inline-block;
  margin-top: 15vh;
  border-radius: 10px;
  position: relative;
}

.notesHeader {
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #d6caae;
}

.notesBody {
  padding-top: 10px;
  font-size: 15px;
  text-align: left;
  margin-left: 5%;
  margin-right: 1%;
  height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeOut { from { opactiy:1; } to { opacity:0; } }

.fadeIn {
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration: .3s;
}

.noteContent {
  background-color: #f1f1f1;
  width: 90%;
  padding: 15px 8px 15px 8px;
  border-radius: 20px;
  display: inline-block;
  word-wrap: break-word;
}

.notesFooter {
  position: absolute;
  bottom: 1%;
  text-align: center;
  width: 100%;
}

.noteInput {
  height: 30px;
  width: 60%;
  display: inline-block;
  border: none;
  border-bottom: 2px solid #dad1b9;
  background: none;
  outline: none;
}

.noteInput:hover {
  border-bottom-color: #d0a63b;
  transition: 0.3s ease;
}

.noteButton {
  display: inline-block;
  border: none;
  background: #d6caaedc;
  margin-left: 3%;
  padding: 13px 16px;
  border-radius: 4px;
  outline: none;
}

.noteButton:hover {
  background: #c7ae74;
  transition: 0.5s ease;
}

.closeButton {
  cursor: pointer;
  display: inline-block;
  margin-left: -5%;
  font-size: 18px;
}

.closeButton:hover {
  color: #984242;
}

/* Responsive */
@media(max-width: 1024px) {
  .notesWrapper {
    width: 80%;
  }
}

@media(max-width: 400px) {
  .notesBody {
    height: 60%;
  }

  .notesWrapper {
    margin-top: 10vh;
  }
}

@media(max-width: 320px) {
  .notesBody{
    height: 50%;
  }

  .notesWrapper {
    margin-top: 8vh;
  }
}